// Place all the styles related to the customer::customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.space {
	margin: 20px;
}


.space2 {
	margin: 40px;
}


.text-color-mypage {
	color: white;
}