// Place all the styles related to the customer::topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.text {
	text-align: center;
    margin: 50px;
    padding: 50px;
}


.page {
	text-align: center;
    margin: 50px;
    padding: 30px;
    font-size: 20px;
    border-top: 4px solid;
}


.image {
    margin: 80px;
    text-align: center;
}


.index_topic {
	text-align: center;
}