<div class="container">
    <div class="row">


        <div class="loop">
            <img src="作成したスライド画像のパス"><img src="作成したスライド画像のパス">
        </div>


        <div class="topics_prevention">

        </div>


        <h2>TOPICS</h2>
        <div class="row">
            <div id="topics">

            </div>
        </div>


       <p><%= link_to "READ MORE", topic_path %></p>









    </div>
</div>