<div class="container">
    <div class="row">


        <div class="wedding_image">
            <div class="style_wedding">Belle Foret Wedding</div>
        </div>







        <h3></h3>


        <h4>
            ここは、世界中の人々が一度は訪れてみたいと憧れる美食の殿堂。<br>
            高貴さとカジュアルモダン、その両方を同時に漂わせるラベンダーカラーの1階、<br>
            シャンパンゴールドとブラックの調和が華やかな気品を醸し出す２階ガストロノミー、<br>
            異なるダイニングルームでウエディングパーティを叶えることができる。<br>
            また、最上階にはクラシカルな雰囲気が漂う3つの部屋があり、ブライズルーム・親族控室・挙式スペースが完備されているのも魅力。<br>
            まるで、フランス貴族の館を思わせる気品あるインテリアや設えで、大切なゲストの皆様と、華やかで優雅な一日をお過ごしください。<br>
        </h4>


        <h3>
            世紀のシェフがプロデュースするフレンチ料理&スイーツで結婚式
            優れた料理人は、その人生の中で完結されたお皿を生み出す。
            だが誰しもが、作品とも呼べる料理を数多く持てる訳ではない。
            その奇跡に出会える場所で大切な一日を。
        </h3>


        <div class="wedding_loop1">

        </div>


        <h3>CONTACT</h3>
        <h4>詳細・お問い合わせ</h4>
        <h4>お二人の理想のウェディングをサポートします。 まずはお問い合わせください。</h4>








    </div>
</div>