// Place all the styles related to the admin::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.admin_top_image {
    background-image: image-url('admin_top.jpg');
    padding: 170px;
    margin: 30px;
	width: auto;
	background-size: cover;
}


.style_admin_top {
	text-align: center;
	padding: 20px;
	background-color: rgba(255,255,255,0.5);
    color: black;
}